@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

:root {
  --pharagap-back: #4D4D4D;
  --pharagap-back-footer: #ECE6E6;
  --color-bg-btn: #1B4DB1;
  --pharagap-nav-blue: #1B4DB1;
  --bg-like-btn: #D9D9D9;
  --bg-page: #ECE6E6;
  --shadow-cart: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.color_cart {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 420px;
  border-radius: 20px;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.colorBlue {
  color: var(--pharagap-nav-blue);
}

.navBar {
  background-color: #000;

  color: #fff;
}

.routes-bg,
body {
  background-color: var(--bg-page);
}

.padig-left {
  padding-left: 5px;
}


.h1_cart {
  font-size: 22px;
  font-weight: 600;

}

.input_serch {
  position: relative;
  left: 340px;
  bottom: 100px;

}

.serch {
  position: absolute;
  top: 374px;
  left: 810px;
}

.btn-netx {
  background-color: var(--color-bg-btn);
  margin: 10px;
  color: #fff;
  border-radius: 16px;
  width: 130px;
  height: 40px;
}

.btn_like {
  background-color: #D9D9D9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 7px;
  left: 5px;

}

.arron {
  position: relative;
  left: 300px;
}

.btn_like:hover {
  background-color: #FF64BC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (min-width: 360px) {
  .wfimg {
    width: 100%;
    height: 400px
  }

  .centarItemen {
    position: relative;
    left: 6%;

  }
}

@media (min-width: 1300px) {
  .wfimg {
    width: 1360px
  }

  .centarItemen {
    position: relative;
    left: 38%;

  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;